/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #363237;
  color: #fff;
  font-family: 'Istok Web', 'Roboto';
}
.page-container {
  width: 100%;
  margin: 0 auto;
}
header {
  padding-left: 2%;
  display: flex;
  justify-content: space-beween;
  align-items: center;
  font-size: 2.2rem;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 1% 2%;
}
@media (max-width: 500px) {
  header nav {
    margin: 20px 10px 20px 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  header nav {
    margin: 20px 10px 20px 0;
  }
}
header nav a {
  padding-right: 5%;
  text-decoration: none;
  color: #fff;
}
footer {
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 4%;
  margin-bottom: -5%;
}
@media (max-width: 500px) {
  footer {
    margin-bottom: 3%;
  }
}
@media (max-width: 800px) {
  footer {
    margin: 7% 0 3% 0;
  }
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer ul li {
  margin: 0 2%;
}
.page-container img {
  width: 100%;
  max-height: 1200px;
}
.page-container .body-content-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3.2rem;
}
.page-container .body-content-team h2 {
  margin: 35px 0;
}
.page-container .body-content-team h2:after {
  content: "";
  display: block;
  position: relative;
  width: 155px;
  height: 2px;
  background-color: #C3A9EF;
  margin: 3px 0 15px 0;
}
.page-container p {
  font-size: 1.7rem;
  margin: 0 8%;
}
.page-container .the-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 500px) {
  .page-container .the-team {
    flex-direction: column;
  }
}
.page-container .the-team .person {
  width: 40%;
  max-width: 500px;
  height: 450px;
  margin: 5%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: #2d2d2d;
}
@media (max-width: 500px) {
  .page-container .the-team .person {
    width: 90%;
    max-width: 450px;
  }
}
.page-container .the-team .person h3 {
  font-size: 2.4rem;
  position: relative;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .page-container .the-team .person h3 {
    margin-top: 5%;
  }
}
.page-container .the-team .person img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #363237;
  z-index: 3;
}
.page-container .the-team .person:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50%;
  background: #EDABBB;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.page-container .the-team .person:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.page-container .the-team h2 {
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25%;
}
@media (max-width: 800px) {
  .page-container .the-team h2 {
    margin-top: 35%;
  }
}
@media (max-width: 500px) {
  .page-container .the-team h2 {
    margin-top: 27%;
  }
}
.home {
  max-width: 100%;
}
.home img {
  width: 100%;
  height: 60%;
  z-index: -1;
}
@media (max-width: 500px) {
  .home img {
    height: 550px;
  }
}
.home .cta-welcome {
  width: 100%;
  position: absolute;
  font-size: 3.6rem;
  padding: 19% 0 0 22%;
}
@media (max-width: 800px) {
  .home .cta-welcome {
    padding: 19% 0 0 7%;
  }
}
@media (max-width: 500px) {
  .home .cta-welcome {
    padding: 30% 0 0 8%;
  }
}
.home button {
  font-size: 1.8rem;
  color: #fff;
  border: none;
  padding: 1% 2%;
  margin-top: 1%;
  border-radius: 10px;
  background-color: #6927D8;
}
.home h2 {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 3%;
}
@media (max-width: 500px) {
  .home h2 {
    margin: 8% 0 3% 0;
  }
}
@media (max-width: 800px) {
  .home h2 {
    margin-top: 6%;
  }
}
.home .body-text {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .body-text {
    width: 90%;
    flex-direction: column;
    margin: 0 0 8% 3%;
    padding: 0 1%;
  }
}
@media (max-width: 800px) {
  .home .body-text {
    flex-direction: column;
    margin: 0 6% 0 3%;
  }
}
.home .body-text .aboutus-content {
  background-color: #4c464d;
  width: 100%;
  margin: 5% 2%;
  padding: 2% 1%;
  box-shadow: 0px 0px 10px 0px rgba(43, 40, 40, 0.897);
}
@media (max-width: 800px) {
  .home .body-text .aboutus-content {
    margin: 5% 2% 0 2%;
  }
}
.home .body-text .aboutus-content h3 {
  font-size: 2.5rem;
  font-weight: 650;
  padding: 0 0 0 7%;
}
.home .body-text .aboutus-content h3:after {
  content: "";
  display: block;
  position: relative;
  width: 80px;
  height: 2px;
  background-color: #C3A9EF;
  margin: 3px 0 15px 0;
}
.home .customer-reviews {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .customer-reviews .customer-contain {
  max-width: 900px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
  margin-left: 15%;
}
.home .customer-reviews .customer-contain img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-left: 5%;
  box-shadow: 0px 0px 5px 0px rgba(255, 123, 226, 0.2);
}
.home .customer-reviews .customer-contain .customer1 {
  margin-top: 3%;
}
.home .customer-reviews .customer-contain p {
  margin: 4% 0;
  max-width: 600px;
  padding: 2%;
  background: #4c464d;
}
.home .customer-reviews .customer-contain h4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
}
