.home{
    img{
        width: 100%;
        z-index: -1;
    }
    .cta-welcome{
        // z-index: 1;
        height: 120%;
        width: 100%;
        position: absolute;
        font-size: 3rem;
        padding: 8% 0 0 3%;
    }
    button{
        font-size: 50%;
        color: @font-color;
        border: none;
        padding: 1% 1%;
        margin-top: 1%;
        border-radius: 10px;
        background-color: @button-color; 
    }
    // .flex-mixin(space-around, center);
    .body-text{
        font-size: 2rem;
        width: 90%;
        
    }
}

