header{
    padding-left: 2%;
    .flex-mixin(space-beween, center);
    font-size: 2.2rem;
    a{
        text-decoration: none;
        color: @font-color;
    }
    nav{
    .flex-mixin(flex-end, center);
    width: 100%;
    margin: 1% 2%;
    @media @mobile{
        margin: 20px 10px 20px 0;
        font-size: 1.5rem;
    }
    @media @tablet{
        margin: 20px 10px 20px 0;
    }
    a{
        padding-right: 5%;
        text-decoration: none;
        color: @font-color;
    }
    }
}