header{
    .flex-mixin(space-beween, center);
    font-size: 1.8rem;
    nav{
    .flex-mixin(flex-end, center);
    width: 100%;
    margin: 2% 2%;
    h1{
        padding-left: 50%;
    }
    
    a{
        padding-right: 3%;
        text-decoration: none;
        color: @font-color;
    }
    }
}