.page-container{
    img{
        width: 100%;
        max-height: 1200px;

    }
    .the-team{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .person{
            // border: 2px solid white;
            width: 40%;
            max-width: 500px;
            height: 450px;
            margin: 5%;
            position: relative;
            border-radius: 20px;
            overflow:hidden;
            background: rgba(45, 45, 45, 1);
            @media @mobile{
                width: 100%;
                flex-direction: column;
                margin-top: 8%;
            }
            h3{
                font-size: 2.5rem;
                position: relative;
                margin-top: 3%;
                .flex-mixin(center, center);
                
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                transform: translate(-50%,-50%);
                border: 5px solid @background-color;
                z-index: 3;
            }
        }
        .person:before{
            content: '';
            position: relative;
            display: inline-block;
            width: 100%;
            height: 50%;
            background: #EDABBB;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
            z-index: 2;
        }
        .person:after{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
        }
        h2{
            font-size: 2.6rem;
            .flex-mixin(center, flex-start);
            margin-top: 25%;
        }
    }
}